table {
    margin: auto;
    padding: 15px;
    border-spacing: 10px;
    border: solid 5px darkgrey;
    font-size: 40px;
}

td {
    width: 200px;
    height: 200px;
    border: solid 2px darkgrey;
    text-align: center;
}
